<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        .alert {
            margin: 10px 0;
            padding: 10px;
            border-radius: 4px;
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            font-size: 1em;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="box">
        <form action="/auth/register" method="post">
            <div class="form">
                <h2>Register</h2>
                <div class="inputBox">
                    <input type="text" name="firstname" id="firstname" required="required">
                    <span>First name</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="lastname" id="lastname" required="required">
                    <span>Last name</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="address" id="address" required="required">
                    <span>Address</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="tel" name="phone" id="phone" required="required">
                    <span>Phone Number</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="user_username" id="user_username" required="required">
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="user_password" id="user_password" required="required">

                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="login" target="_self">Login</a>
                    <a href="/" target="_self">Home</a>
                </div>
                <input type="submit" value="Register">
                <% if (typeof messages !=='undefined' && messages.length> 0) { %>
                    <div class="alert alert-danger">
                        <%= messages[0].message %>
                    </div>
                    <% } %>
            </div>
        </form>
    </div>
</body>

<!--https://stackoverflow.com/questions/32850513/scale-down-up-every-html-element-when-window-resize-->

</html>