body {
    background-color: #f2f7ff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.box {
    background-color: #ffffff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #3498db;
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 16px;
}

span {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s;
    color: #aaa;
}

input:focus+span,
input:valid+span {
    top: -10px;
    font-size: 12px;
    color: #3498db;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #207bd5;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.inputBox i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ccc;
    cursor: pointer;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 1em;
    font-weight: 600;
}

/* Additional CSS for radio buttons */
input[type="radio"] {
    display: none;
    /* Hide the default radio buttons */
}

/* Style for the custom radio button */
input[type="radio"]+label {
    position: relative;
    padding-left: 30px;
    /* Space for the custom radio button */
    cursor: pointer;
}

/* Style for the custom radio button's indicator */
input[type="radio"]+label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
}

/* Change the indicator when the radio button is checked */
input[type="radio"]:checked+label::before {
    background-color: #3498db;
    /* Change to your desired color */
    border-color: #3498db;
    /* Change to your desired color */
}

/* Hide the radio button input visually but keep its functionality */
input[type="radio"]+label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    opacity: 0;
    /* Hide the indicator by default */
}

/* Show the indicator when the radio button is checked */
input[type="radio"]:checked+label::after {
    opacity: 1;
    background-color: #fff;
    /* Change to your desired color */
}